table {
    position:relative;
    top:-60px;
    left: 780px;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

p {
    
    text-align: center;
}

h2 {
    
text-align: center;
    
}

h3 {
    text-align: center;

}