body {
    
    background-image: url(images/lego.jpeg);
    
}

p {

    position: relative;
    text-align: center;
    font-size: 12px;
    top: 210px;
    font-family: 'Press Start 2P', cursive;
    
}

a { text-decoration: none;}